@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");

@tailwind base;
@tailwind components;
@tailwind utilities;

.rborder {
  border: 2px solid red;
}
.gborder {
  border: 2px solid green;
}
.bborder {
  border: 2px solid blue;
}
